<div class="jumbotron">
    <h1>Cheer Ups</h1>
    <p></p>
    <p><a class="btn btn-primary btn-sm" href="/users/new" role="button">Create a New User</a></p>
</div>
<ul>
    {{# each userList}}
        <li>
            <div><a href="/users/{{_id}}">ID: {{_id}}</a></div>
            <div>Created At: {{created_at}}</div>
            <div>{{first_name}} {{last_name}} "{{email}}"</div>
            <div>Cheer Ups:
                <ul>
                    {{# each items}}
                        <li>Message: {{name}}</li>
                    {{/ each}}
                </ul>
            </div>
        </li>
        <br>
    {{/ each}}
</ul>
