<ul>
    {{# each userList}}
        <li>
            <div>
                <ul>
                    {{# each items}}
                        <li class="message">"{{name}}"</li>
                    {{/ each}}
                </ul>
            </div>
            <br>
            <div>&mdash;{{first_name}} {{last_name}} ({{email}})</div>
            <div><a href="/users/{{_id}}">View User</a> <a class="delete" href="/users/delete/{{_id}}" role="button">Delete User</a></div>
        </li>
        <br>
    {{/ each}}
</ul>
