<div>
  <ul>
  <li>
    <h2>{{user.first_name}} {{user.last_name}} <a class="edit-user" href="/users/edit/{{user.id}}">Edit This User</a></h2>

    <div>User {{user.id}}</div>
    <div>Email: {{user.email}}</div>
    <div>Cheer Ups:
        <ul class="show">
            {{# each user.items}}
                <span><li class="message">"{{name}}"</li></span>
                <span><a class="edit-item" href="/users/{{../user.id}}/items/{{_id}}/edit">Edit</a></span>
                <span><a class="delete" href="/users//{{../user.id}}/items/{{id}}/delete">Delete</a></span>
            {{/ each}}
        </ul>
    </div>
    <br>
    <div><a href="/users/{{user.id}}/items/new">Add a New Item</a></div>
  </li>
</ul>
</div>
